<h1>The Scottish Animal Shelter</h1>
<h2>All dogs are good dogs, even the ones which are cats.</h2>

<p>Could you find your new family friend here? We have a range of animals who are looking for their new forever homes.</p>

<p>All our pets undergo vet care and supervision before being put through a basic training regime. We ensure all the pets we offer for adoption are vaccinated, microchipped, and neutered, and we house train them too.</p>

<p>Remember a pet is for life, not just for Christmas. We expect owners to take good care of their pets.</p>
