<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title>Animal Shelter</title>
  </head>
  <body>
    <div class="top-bar">

    <a href="/"><img class="logo" src="/logo.jpg" alt="logo"></a>
    <nav>
      <ul>
        <li><a href="/owners/new">Add a new owner</a></li>
        <li><a href="/owners">View Owners</a></li>
        <li><a href="/pets/new">Add a new pet</a></li>
        <li><a href="/pets">View All Pets</a></li>
        <li><a href="/pets/adoptable">Adopt a Pet</a></li>
      </ul>
    </nav>
    </div>
    <div class="main">
    <%= yield %>
    </div>
  </body>
  <footer>
    <hr>
    <p>The Scottish Animal Shelter - Copyright (c) 2017 Copyright Holder All Rights Reserved.</p>
    <p><a href="#">Email Us</a></p>
    <hr>
  </footer>
</html>
