<h1>Add a new pet</h1>

<form action="/pets" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" />
<br><br>

  <label for="type">Type:</label>
  <select id="type" name="type">
    <option value="Dog">Dog</option>
    <option value="Cat">Cat</option>
    <option value="Rabbit">Rabbit</option>
    <option value="Small Animal">Small Animaln</option>
    <option value="Exotic Animal">Exotic Animal</option>
  </select>
<br><br>

  <label for="breed">Breed:</label>
  <input type="text" name="breed" id="breed" />
<br><br>

  <label for="can_adopt">Read for adoption?</label>
  <input type="checkbox" name="can_adopt" id="can_adopt" value="true" />
<br><br>

  <label for="status">Status:</label>
  <select id="status" name="status">
    <option value="Ready for Adoption">Ready for Adoption</option>
    <option value="At The Vet">At The Vet</option>
    <option value="Adopted">Adopted</option>
    <option value="In Evaluation">In Evaluation</option>
    <option value="In Training">In Training</option>
  </select>
<br><br>

<label for="photo">Photo:</label>
<input type="text" name="photo" value="">

<br><br>


<input type="submit" value="Add New Pet">


</form>
