

body{
  background-color: white;
}
h1{
  color: cornflowerblue;
  text-decoration: bold;
}

.logo{
  position:absolute;
  left:0;
  top:0;
  width: 100px;
  height: auto;
}

nav{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

nav li {
  float: right;
  display: flex;
  justify-content: space-around;
  background: cornflowerblue;
  border: 1px solid darkblue;
  outline: medium none;
  padding: 15px;
  text-decoration: none;
}
nav li a{
  color: white;
}

table, th, tr, td {
  border: 1px solid darkblue;
  border-collapse: collapse;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: steelblue;
  color: white;
  height: 50px;
  vertical-align: middle;
}

tr:nth-child(even){
  background-color: cornflowerblue;
}

td{
  text-align: center;
  padding: 5px;
}
tr:nth-child(odd){
  background-color: skyblue;
