<h1>Register as an owner</h1>

<form method="POST" action="/owners">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name"/>

  <label for="phone_number">Phone Number:</label>
  <input type="number" name="phone_number" id="phone_number">

  <input type="submit" value="Add New Owner"/>

</form>
